# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [146]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from config import api
import json

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [49]:

vacation_df = pd.read_csv("cities.csv")
vacation_df

,city,Lat,Long,MaxTemp,Humidity,Cloundiness,Wind Speed
0,Saint Paul Harbor,57.79,-152.41,42.80,60,1,3.36
1,Galle,6.04,80.22,79.09,86,100,6.85
2,Hay River,60.82,-115.80,23.00,85,75,12.75
3,Dikson,73.51,80.55,11.61,96,97,17.47
4,Avera,33.19,-82.53,77.00,69,1,3.36
...,...,...,...,...,...,...,...
546,Xining,36.62,101.77,30.90,94,46,0.11
547,Yangi Marg`ilon,40.43,71.72,51.80,43,94,6.93
548,Vredendal,-31.67,18.50,59.36,81,42,5.41
549,Kemijärvi,66.71,27.43,42.62,86,100,18.30
550,Forestville,38.85,-76.88,66.00,68,75,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [50]:
gmaps.configure(api)

locations = vacation_df[["Lat","Long"]]
weights = vacation_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations = locations,weights = weights,max_intensity=None, dissipating=True, point_radius=None, opacity=0.6, gradient=None))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [51]:
 #A max temperature lower than 80 degrees but higher than 70. #* Wind speed less than 10 mph #* Zero cloudiness

criteria_new_df = vacation_df.loc[(vacation_df["MaxTemp"] > 70) & (vacation_df["MaxTemp"] < 80) & (vacation_df["Cloundiness"] == 0) & (vacation_df["Wind Speed"] < 10)]
#criteria_new_df.dropna(how='any')
criteria_new_df.reset_index(inplace=True)
criteria_new_df

,index,city,Lat,Long,MaxTemp,Humidity,Cloundiness,Wind Speed
0,79,Sur,22.57,59.53,72.39,60,0,4.21
1,137,San Quintín,30.48,-115.95,70.41,22,0,5.79
2,151,Necochea,-38.55,-58.74,73.99,53,0,5.99
3,165,Arawa,-6.21,155.54,76.89,80,0,2.28
4,182,Morón,-34.65,-58.62,75.99,40,0,6.93
5,199,Castro,-24.79,-50.01,77.40,41,0,7.61
6,231,Bambous Virieux,-20.34,57.76,72.00,76,0,1.99
7,268,Kieta,-6.22,155.63,78.53,77,0,2.82
8,269,Mālpura,26.28,75.38,70.83,21,0,7.63
9,301,San Vicente,-26.62,-54.13,78.73,34,0,3.74
10,328,Grand Gaube,-20.01,57.66,71.01,76,0,1.99
11,334,Yaan,7.38,8.57,79.57,68,0,3.71
12,341,Paoua,7.24,16.44,73.65,67,0,2.77
13,373,Muscat,23.61,58.59,77.00,61,0,2.24
14,384,Kiryat Gat,31.61,34.76,78.01,100,0,1.99
15,386,Quatre Cocos,-20.21,57.76,71.01,76,0,1.99
16,389,Kutum,14.20,24.67,79.09,21,0,7.02
17,466,Qurayyat,31.33,37.34,77.00,11,0,6.93
18,480,Ikwiriri,-7.96,38.97,74.03,88,0,3.47
19,513,Mercedes,-34.65,-59.43,75.99,35,0,4.00
20,523,Safaga,26.73,33.94,78.85,62,0,2.73
21,527,Mīnāb,27.15,57.08,71.60,73,0,4.70
22,528,Patti,31.28,74.86,71.60,82,0,1.88

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [70]:
#new variable
hotel_df = criteria_new_df
hotel_df.head()

,index,city,Lat,Long,MaxTemp,Humidity,Cloundiness,Wind Speed,Hotel Name
0,79,Sur,22.57,59.53,72.39,60,0,4.21,
1,137,San Quintín,30.48,-115.95,70.41,22,0,5.79,
2,151,Necochea,-38.55,-58.74,73.99,53,0,5.99,
3,165,Arawa,-6.21,155.54,76.89,80,0,2.28,
4,182,Morón,-34.65,-58.62,75.99,40,0,6.93,

In [102]:
#add coulumn, rename "Hotel Name"
hotel_df['Hotel Name'] = ""

hotel_df

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,city,Lat,Long,MaxTemp,Humidity,Cloundiness,Wind Speed,Hotel Name
0,79,Sur,22.57,59.53,72.39,60,0,4.21,
1,137,San Quintín,30.48,-115.95,70.41,22,0,5.79,
2,151,Necochea,-38.55,-58.74,73.99,53,0,5.99,
3,165,Arawa,-6.21,155.54,76.89,80,0,2.28,
4,182,Morón,-34.65,-58.62,75.99,40,0,6.93,
5,199,Castro,-24.79,-50.01,77.40,41,0,7.61,
6,231,Bambous Virieux,-20.34,57.76,72.00,76,0,1.99,
7,268,Kieta,-6.22,155.63,78.53,77,0,2.82,
8,269,Mālpura,26.28,75.38,70.83,21,0,7.63,
9,301,San Vicente,-26.62,-54.13,78.73,34,0,3.74,
10,328,Grand Gaube,-20.01,57.66,71.01,76,0,1.99,
11,334,Yaan,7.38,8.57,79.57,68,0,3.71,
12,341,Paoua,7.24,16.44,73.65,67,0,2.77,
13,373,Muscat,23.61,58.59,77.00,61,0,2.24,
14,384,Kiryat Gat,31.61,34.76,78.01,100,0,1.99,
15,386,Quatre Cocos,-20.21,57.76,71.01,76,0,1.99,
16,389,Kutum,14.20,24.67,79.09,21,0,7.02,
17,466,Qurayyat,31.33,37.34,77.00,11,0,6.93,
18,480,Ikwiriri,-7.96,38.97,74.03,88,0,3.47,
19,513,Mercedes,-34.65,-59.43,75.99,35,0,4.00,
20,523,Safaga,26.73,33.94,78.85,62,0,2.73,
21,527,Mīnāb,27.15,57.08,71.60,73,0,4.70,
22,528,Patti,31.28,74.86,71.60,82,0,1.88,

In [112]:
# Store 'Lat' and 'Lng' into  locations 
locations = hotel_df[["Lat","Long"]]

In [167]:
hotels = hotel_df["Hotel Name"]

In [200]:
# geocoordinates 
target_coordinates = locations
target_search = "city"
target_radius = 5000
target_type = "hotel"

lat = target_coordinates['Lat']
long = target_coordinates['Long']
lat_lng =  zip(lat,long)

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": api
}

    
# base url
base_url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&type=lodging&key={api}&location='


for index,lat_long in enumerate(lat_lng):
    
    
    url = f"{base_url}{lat_long[0]},{lat_long[1]}"
    #print(url)
    
    try:
        response=requests.get(url).json()
        hotel_name = response['results'][0]['name']
        print(hotel_name)
        hotel_df.loc[index,'Hotel Name'] = hotel_name
        
    
    except:
        print("Hotel not found")
        hotel_df.loc[index,'Hotel Name'] = np.nan
            
    # convert response to json
    #hotel_data = response.json()

    # Print the json (pretty printed)
    #print(json.dumps(hotel_data, indent=4, sort_keys=True))

Sur Plaza Hotel

C:\Users\jocel\.conda\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Old Mill Hotel
dyd -mar Hotel
Coastline Guest House
Hotel Morón
CHACARA BAILLY
Casa Tia Villa
Hotel not found
Tak House cum Legal Advisory Chambers
Complejo Turístico Farelluk
Veranda Paul et Virginie Hotel & Spa
Hotel not found
Quartier Paoua Elien
Mutrah Hotel
OlusHome
Emeraude Beach Attitude Hotel
Dibbo areaمنطقة دبو
Mozon Furnished Aprtments
Selous Lodge
Posada del Inti Centro
Lamar Resort Abu Soma
فروشگاه موبایل ترکمانی
Swami dera Geeta mandir

In [201]:
hotel_df

,index,city,Lat,Long,MaxTemp,Humidity,Cloundiness,Wind Speed,Hotel Name
0,79,Sur,22.57,59.53,72.39,60,0,4.21,Sur Plaza Hotel
1,137,San Quintín,30.48,-115.95,70.41,22,0,5.79,Old Mill Hotel
2,151,Necochea,-38.55,-58.74,73.99,53,0,5.99,dyd -mar Hotel
3,165,Arawa,-6.21,155.54,76.89,80,0,2.28,Coastline Guest House
4,182,Morón,-34.65,-58.62,75.99,40,0,6.93,Hotel Morón
5,199,Castro,-24.79,-50.01,77.40,41,0,7.61,CHACARA BAILLY
6,231,Bambous Virieux,-20.34,57.76,72.00,76,0,1.99,Casa Tia Villa
7,268,Kieta,-6.22,155.63,78.53,77,0,2.82,NaN
8,269,Mālpura,26.28,75.38,70.83,21,0,7.63,Tak House cum Legal Advisory Chambers
9,301,San Vicente,-26.62,-54.13,78.73,34,0,3.74,Complejo Turístico Farelluk
10,328,Grand Gaube,-20.01,57.66,71.01,76,0,1.99,Veranda Paul et Virginie Hotel & Spa
11,334,Yaan,7.38,8.57,79.57,68,0,3.71,NaN
12,341,Paoua,7.24,16.44,73.65,67,0,2.77,Quartier Paoua Elien
13,373,Muscat,23.61,58.59,77.00,61,0,2.24,Mutrah Hotel
14,384,Kiryat Gat,31.61,34.76,78.01,100,0,1.99,OlusHome
15,386,Quatre Cocos,-20.21,57.76,71.01,76,0,1.99,Emeraude Beach Attitude Hotel
16,389,Kutum,14.20,24.67,79.09,21,0,7.02,Dibbo areaمنطقة دبو
17,466,Qurayyat,31.33,37.34,77.00,11,0,6.93,Mozon Furnished Aprtments
18,480,Ikwiriri,-7.96,38.97,74.03,88,0,3.47,Selous Lodge
19,513,Mercedes,-34.65,-59.43,75.99,35,0,4.00,Posada del Inti Centro
20,523,Safaga,26.73,33.94,78.85,62,0,2.73,Lamar Resort Abu Soma
21,527,Mīnāb,27.15,57.08,71.60,73,0,4.70,فروشگاه موبایل ترکمانی
22,528,Patti,31.28,74.86,71.60,82,0,1.88,Swami dera Geeta mandir

In [205]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{city}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [206]:
# Create a hotel marker layer
fig = gmaps.figure()
#weights = "Humidity"

hotel_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))